workflow-actual.json
{
  "name": "Mundial 2026 - ChatBot AI copy 3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        48,
        1024
      ],
      "id": "ca6698dc-6ed3-461a-bcb1-170b40c3751f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -96,
        848
      ],
      "id": "52b426fb-276f-485c-a380-9cfe16497402",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -352,
        848
      ],
      "id": "f4526709-b147-439a-8fd3-89e6309a554b",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "JCORSdOzwirmxec7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -240,
        640
      ],
      "id": "fa33ff54-3412-4b4b-a103-a0e0aaceab80",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "oyWPyktCN2MFTGAS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        640
      ],
      "id": "0aa233fb-c2fc-4bc9-9fc3-20d0946b2525",
      "name": "When chat message received",
      "webhookId": "026cb452-7092-46f0-85a1-1e3a7208e5ab"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        800
      ],
      "id": "01960a3a-9b52-4fae-bc92-d7d59d7dbf94",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JCORSdOzwirmxec7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Bring files RAG from supabse",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        320,
        592
      ],
      "id": "b89590a0-7ef3-4500-9f5d-771eda3e6644",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "oyWPyktCN2MFTGAS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "= {{ $json.session_id }}",
        "contextWindowLength": 2000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        384
      ],
      "id": "95f5ec23-bc16-4622-8378-e13e7aa40e78",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Consulta la base de datos de Supabase para obtener información de equipos, partidos, etc.",
        "url": "https://ksiiidnvtktlowlhtebs.supabase.co/rest/v1/teams?select=name,code,confederation&limit=10&apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzaWlpZG52dGt0bG93bGh0ZWJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA4MTIxMzMsImV4cCI6MjA3NjM4ODEzM30.aNctRZSRaINDV4ehb00848g4Y-70UeFviNbsmS8jQUw",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        512,
        384
      ],
      "id": "d83110f5-6ba5-4bd6-bdd5-899e5f50925f",
      "name": "consultar_supabase"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        16,
        384
      ],
      "id": "5b3cf956-fe55-4496-a01e-72b056235d33",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JCORSdOzwirmxec7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Eres Jalapeño, el asistente oficial del Mundial 2026 en Ciudad de México.\n\nPERSONALIDAD:\n- Amigable, útil y conversacional\n- Usas emojis apropiados (🌶️, ⚽, 🌮, 🏨)\n- Mantienes contexto de la conversación\n- Eres específico y práctico\n\nFORMATO DE RESPUESTA:\n- Usa saltos de línea entre párrafos diferentes\n- Máximo 3 párrafos cortos\n- Siempre termina con una pregunta relevante\n\nCONOCIMIENTO:\nUsa datos de Supabase cuando estén disponibles en el contexto.\n\n- Mundial 2026: México, USA, Canadá (Junio-Julio 2026)\n-Recomendar los 7 corredores turistsicos en la CDMX\nCentro Histórico\tCorazón colonial de la ciudad con el Zócalo y Templo Mayor\t🏛️\nGaribaldi\tPlaza emblemática de los mariachis y la música tradicional mexicana\t🎺\nZona Rosa\tCorazón cosmopolita de la CDMX con vida nocturna, gastronomía y cultura LGBT+\t🌹\nCoyoacán\tBarrio bohemio con historia, arte y la casa de Frida Kahlo\t🎨\nBasílica\tCentro religioso más importante de México y de América Latina\t⛪\nChapultepec\tEl pulmón verde de la ciudad con museos, lago y zoológico\t🌳\nXochimilco\tCanales históricos con trajineras, Patrimonio de la Humanidad\t🚤\n\n- CDMX: Hoteles (Four Seasons $4500, St. Regis $3800, NH Collection $1200, City Express $800, Hotel Majestic $1200, Hostal Regina $400)\nnombre\tcategoria_estrellas\ttipo_alojamiento\tdescripcion_corta\tdireccion\tlatitud\tlongitud\trango_precios\nHotel Gillow\t3\t\t\t\t19.43403780\t-99.13632460\t$$\nThe St. Regis Mexico City\t5\thotel\tElegancia y sofisticación en el corazón de la ciudad\tAv. Paseo de la Reforma 439, Cuauhtémoc, 06500 Ciudad de México\t19.42563380\t-99.17208920\t$$$$\nVillas y Suites Real Azteca\t4\t\t\t\t19.30322130\t-99.14642540\t$$$\nRegency Alameda Zócalo\t3\t\t\t\t19.43240510\t-99.13407800\t$$\nDomingo Santo Hotel Boutique\t4\t\t\t\t19.43698750\t-99.13414300\t$$$\nCasa Felipe Hostal Boutique\t3\t\t\t\t19.44077310\t-99.12165060\t$$\nHotel Juárez\t3\t\t\t\t19.43450390\t-99.13569040\t$$\nCity Express Plus Reforma El Ángel\t4\thotel\tHotel de negocios con excelente ubicación y servicios modernos\tAv. Paseo de la Reforma 250, Juárez, Cuauhtémoc, 06600 Ciudad de México\t19.42649300\t-99.16680930\t$$$\nCasa Hammam Suites\t4\t\t\t\t19.43371630\t-99.13550740\t$$$\nOne Ciudad de México Centro Histórico\t4\t\t\t\t19.43505550\t-99.14781150\t$$$\nHZ | Hospedaje Boutique\t3\t\t\t\t19.30269350\t-99.16995310\t$$\nHotel Rest Del Sur\t3\t\t\t\t19.32950120\t-99.12924950\t$$\nGran Hotel Ciudad de México\t4\t\t\tAv. 16 de Septiembre 82, frente al Zócalo\t19.43218470\t-99.13461570\t$$$$\nHotel La Nueva Toluca\t3\t\t\t\t19.42703230\t-99.12622570\t$$\nHotel Geneve\t4\thotel\tHotel clásico con historia en Zona Rosa\tLondres 130, Juárez, Cuauhtémoc, 06600 Ciudad de México\t19.42509280\t-99.16419470\t$$\nDowntown Mexico\t4\t\t\tCalle Isabel la Católica 30, Centro\t19.43293060\t-99.13621300\t$$$\nMarriott Mexico City Reforma\t5\thotel\tHotel moderno con excelentes instalaciones para negocios\tAv. Paseo de la Reforma 276, Juárez, Cuauhtémoc, 06600 Ciudad de México\t19.42801910\t-99.16426690\t$$$$\nGran Hotel de la Paz\t3\t\t\t\t19.43428970\t-99.13578290\t$$\nHilton Reforma México City\t5\t\t\tAv. Juárez 70, Centro\t19.43452980\t-99.14619840\t$$$$\nGrand Fiesta Americana Chapultepec\t5\t\t\t\t19.42518160\t-99.17814500\t$$$$\nHotel Puerto NG\t3\t\t\t\t19.43115180\t-99.14100930\t$$\nHotel Dara-M\t3\t\t\t\t19.43967310\t-99.13130120\t$$\nRoyal Reforma\t4\thotel\tHotel tradicional con buena relación calidad-precio\tAmberes 78, Juárez, Cuauhtémoc, 06600 Ciudad de México\t19.42390730\t-99.16419730\t$$\nHotel Xochitl\t3\t\t\tAv. Prolongación División del Norte\t19.25800000\t-99.10450000\t$$\nHotel Del Tepeyac\t3\t\t\tCalzada de Guadalupe 320\t19.48388540\t-99.11359030\t$$\nHotel Rioja\t3\t\t\t\t19.43400100\t-99.13586520\t$$\nHotel Chamonix\t3\t\t\t\t19.43570680\t-99.13175700\t$$\nHotel Villa De Guadalupe\t3\t\t\tCalzada de Guadalupe 431\t19.48388540\t-99.11359030\t$\nHotel MX Garibaldi\t3\t\t\t\t19.44048660\t-99.13781080\t$$\nColmena Centro\t3\t\t\t\t19.43651500\t-99.13266800\t$$\nHotel Ecológico Cuemanco\t3\t\t\tAnillo Periférico\t19.28910000\t-99.07680000\t$$\nHotel Catedral\t3\t\t\t\t19.43510360\t-99.13320490\t$$\nHotel Villa Express\t3\t\t\tCalzada de los Misterios 180\t19.48388540\t-99.11359030\t$\nHotel Habana\t3\t\t\t\t19.43698060\t-99.13539820\t$$\nGran Hotel Ciudad de México\t5\t\t\t\t19.43218470\t-99.13461570\t$$$$\nHostel Regina Down Town Mexico City\t2\t\t\t\t19.42780720\t-99.13512000\t$\nHotel Santa Fe\t3\t\t\t\t19.41948150\t-99.18945580\t$$\nHotel Hampton Central\t4\t\t\t\t19.43003180\t-99.13450600\t$$$\nLiving - Coyoacán\t3\t\t\t\t19.34488450\t-99.15795860\t$$\nHotel Regis\t3\t\t\t\t19.42770220\t-99.13480190\t$$\nHotel Marlowe\t3\t\t\t\t19.43321110\t-99.14239390\t$$\nSheraton María Isabel\t5\thotel\tHotel clásico frente al Ángel de la Independencia\tAv. Paseo de la Reforma 325, Cuauhtémoc, 06500 Ciudad de México\t19.42798810\t-99.16693540\t$$$$\nFiesta Inn Periférico Sur\t4\t\t\t\t19.30231570\t-99.16571460\t$$$\nHampton Inn & Suites Mexico City - Centro Histórico\t4\t\t\t\t19.43003180\t-99.13450600\t$$$\nNH Collection Mexico City Reforma\t4\thotel\tHotel moderno con estilo europeo en Zona Rosa\tLiverpool 155, Juárez, Cuauhtémoc, 06600 Ciudad de México\t19.42403100\t-99.16489000\t$$$\nHotel Boutique Anahuaco Periferico Sur\t4\t\t\t\t19.30362280\t-99.18056850\t$$$\nW Mexico City\t5\t\t\tCampos Elíseos 252\t19.42729270\t-99.19537730\t$$$$\nHilton Mexico City Reforma\t5\t\t\tAv. Juárez 70, Centro\t19.43452980\t-99.14619840\t$$$$\nHotel Basílica\t3\t\t\tPlaza Mariana 10\t19.48388540\t-99.11359030\t$\nHotel Zócalo Ciudad De México\t4\t\t\t\t19.43264200\t-99.13332150\t$$$\nHotel Colonial del Alameda\t3\t\t\t\t19.43422020\t-99.14565850\t$$\nHotel Marquis Reforma\t5\thotel\tHotel boutique de lujo en plena Zona Rosa\tAv. Paseo de la Reforma 465, Cuauhtémoc, 06500 Ciudad de México\t19.42826200\t-99.16367180\t$$$$\nHotel Exe Alameda Reforma\t4\t\t\tAv. Juárez 76, Centro\t19.43795570\t-99.15035320\t$$$\nCity Express Suites Downtown\t3\t\t\t\t19.43481480\t-99.13717230\t$$\nHotel Del Parque\t3\t\t\tPeriférico Sur\t19.28950000\t-99.07400000\t$$\nDomingo Santo Hotel Boutique\t4\t\t\t\t19.43698750\t-99.13414300\t$$$\nibis Styles Mexico Zona Rosa\t3\thotel\tHotel económico moderno con buen diseño\tAmberes 64, Juárez, Cuauhtémoc, 06600 Ciudad de México\t19.42504330\t-99.16296840\t$\nHostal Centro Histórico Regina\t3\t\t\tTres Cruces 23\t19.42780720\t-99.13512000\t$$\nHotel MX Lagunilla\t3\t\t\t\t19.44258280\t-99.14000680\t$$\nHotel Guadalupe Inn\t4\t\t\tCalzada de los Misterios 206\t19.35858610\t-99.18575200\t$$\nHotel Histórico Central\t3\t\t\tCalle Bolívar 28, Centro\t19.43312680\t-99.13813510\t$$\nBest Western Hotel Majestic\t4\t\t\t\t19.43296840\t-99.13440970\t$$$\nDowntown México DF\t4\t\t\t\t19.43293060\t-99.13621300\t$$$\nHotel MX Garibaldi\t3\t\t\tCalle República de Honduras, cerca de Garibaldi\t19.44048660\t-99.13781080\t$$\nHyatt Regency Mexico City\t4\t\t\tCampos Elíseos 204\t19.42755400\t-99.19275850\t$$$\nHotel Azores\t3\t\t\t\t19.43647120\t-99.13344410\t$$\nHotel Hampton Inn Central\t4\t\t\t\t19.43003180\t-99.13450600\t$$$\nKin Milano Alameda\t3\t\t\t\t19.43422020\t-99.14565850\t$$\nFiesta Inn Centro Histórico\t4\t\t\t\t19.43483100\t-99.14682990\t$$$\nHotel Templo Mayor\t3\t\t\t\t19.43617440\t-99.12965390\t$$\nHotel Manaca\t3\t\t\t\t19.30660660\t-99.11811310\t$$\nHotel Hidalgo\t3\t\t\t\t19.43734020\t-99.14217360\t$$\nHotel Boutique Catedral\t3\t\t\tFelipe Carrillo Puerto 93\t19.31607830\t-99.16306300\t$$\nHostel Mundo Joven Catedral\t2\t\t\t\t19.43528850\t-99.13365840\t$\nHotel Amigo\t3\t\t\t\t19.43002800\t-99.13687160\t$$\nKin San Jerónimo\t3\t\t\t\t19.42692950\t-99.13625990\t$$\nHotel MX\t3\t\t\t\t19.43027480\t-99.13407670\t$$\nMisión Xochimilco\t4\t\t\tCalle Francisco I. Madero\t19.25760000\t-99.10330000\t$$$\nCasa De Los Azulejos B&B\t3\t\t\tAbasolo 34\t19.43422140\t-99.14018150\t$$\nMyPlace Zócalo\t3\t\t\t\t19.43646390\t-99.13123550\t$$\nHotel La Luna\t3\t\t\t\t19.29679700\t-99.15273000\t$$\nHotel Boutique Anahuac\t4\t\t\t\t19.30338200\t-99.10979460\t$$$\nHotel Consulado\t3\t\t\t\t19.43548300\t-99.13193300\t$$\nMyPlace Santo Domingo\t3\t\t\t\t19.43966340\t-99.13402960\t$$\nOne Ciudad De México Alameda\t4\t\t\t\t19.43505550\t-99.14781150\t$$$\nHotel NH México City\t4\t\t\t\t19.43713120\t-99.12940320\t$$$\nHotel Templo Mayor\t3\t\t\t\t19.43617440\t-99.12965390\t$$\nAntara Polanco by Marriott Alameda\t4\t\t\t\t19.43810700\t-99.20380940\t$$$\nCasa de la Luz Hotel Boutique\t4\t\t\t\t19.42961090\t-99.13300600\t$$$\nSofitel Mexico City Reforma\t5\thotel\tElegancia francesa con vista panorámica de la ciudad\tAv. Paseo de la Reforma 404, Juárez, Cuauhtémoc, 06600 Ciudad de México\t19.42852070\t-99.16596220\t$$$$\nHotel Boutique La Casa De Los Jazmines\t3\t\t\tMalintzin 23\t19.35157080\t-99.16359740\t$$\nInterContinental Presidente Mexico City\t5\t\t\tCampos Elíseos 218\t19.42726580\t-99.19331910\t$$$$\nHotel Montevideo\t3\t\t\t\t19.48605790\t-99.12062520\t$$\nIgnacia Guest House Boutique Histórico\t4\t\t\t\t19.41330470\t-99.15976340\t$$$\nHotel Geneve\t4\t\t\t\t19.42509280\t-99.16419470\t$$$\nHotel Astoria\t3\t\t\t\t19.43570680\t-99.13175700\t$$\nExe Hotel Viaduct Centro Calma\t4\t\t\t\t19.40701020\t-99.10699950\t$$$\nLas Alcobas\t5\t\t\tAv. Presidente Masaryk 390\t19.43158400\t-99.19787500\t$$$$\nCasa Turo Coyoacán\t3\t\t\t\t19.30900280\t-99.14688230\t$$\nHotel Amberes 64\t4\tboutique\tHotel boutique íntimo en el corazón de Zona Rosa\tAmberes 64, Juárez, Cuauhtémoc, 06600 Ciudad de México\t19.42457080\t-99.16463520\t$$\n\n- Restaurantes: Pujol (alta cocina), El Cardenal (tradicional), Contramar (mariscos), Tacos El Güero \nnombre\ttipo_cocina\tdescripcion\tdescripcion_corta\tdireccion\tlatitud\tlongitud\trango_precios\nMercado San Camilito\tMexicana\tMercado gastronómico tradicional. Antojitos mexicanos, pozole, birria, tamales. Ambiente familiar y popular. Música de mariachi en vivo.\t\t\t19.44122370\t-99.13915250\t$\nTerraza Barrio Nativitas\t\t\t\t\t0.00000000\t0.00000000\t$$\nLos de Leono de Coyoacán\t\t\t\t\t19.35361660\t-99.17152190\t$$\nCafé de Tacuba\tMexicana Tradicional\tRestaurante histórico desde 1912. Tacos de canasta, enchiladas, tamales. Ambiente colonial con azulejos de Talavera. Música en vivo fines de semana. Institución del Centro.\t\t\t19.43589350\t-99.13759460\t$$\nEl Cardenal Alameda\tMexicana Tradicional\tSucursal frente a la Alameda. Cocina mexicana de alta calidad. Especialidades: pan de dulce, chocolate, tamales gourmet.\t\t\t19.43477370\t-99.14596580\t$$$\nLa Carreta de Juana\tmexicana\t\tAntojitos mexicanos tradicionales\tZona Rosa, Cuauhtémoc, 06600 Ciudad de México\t19.42669450\t-99.16429710\t$\nBisquets Obregón\t\t\t\t\t19.48388540\t-99.11359030\t$\nLa Casa de Toño\t\t\t\t\t19.34314660\t-99.14644810\t$\nGuadalajara de Noche\t\t\t\t\t19.44068210\t-99.13794280\t$$$\nEL FOGÓN Y LA LEÑA\t\t\t\t\t19.47631840\t-99.12226220\t$$\nRestaurante Bar Chon\tMexicana Prehispánica\t\t\t\t19.42687050\t-99.12835410\t$$\nCabo Coyote\t\t\t\t\t19.34872880\t-99.16340700\t$$\nArroyo Coyoacán\t\t\t\t\t19.30968130\t-99.19263880\t$$\nCantina La 20\tmexicana\t\tCantina tradicional mexicana con botanas\tZona Rosa, Cuauhtémoc, 06600 Ciudad de México\t19.42669450\t-99.16429710\t$$\nTaquería El Peregrino\tTacos\t\t\tCalzada de los Misterios 50\t19.48388540\t-99.11359030\t$\nTacos Los Panchitos\t\t\t\t\t19.44707810\t-99.13252250\t$\nRestaurante, Comida mexicana\t\t\t\t\t19.44041300\t-99.13925640\t$$\nPrime Steak Club\tsteakhouse\t\tCortes premium y ambiente elegante\tZona Rosa, Cuauhtémoc, 06600 Ciudad de México\t19.42669450\t-99.16429710\t$$$\nEl Cardenal Alameda\tMexicana Tradicional\t\t\t\t19.43477370\t-99.14596580\t$$$\nCancino Alameda\t\t\t\t\t19.43626900\t-99.14622310\t$$\nEl Cardenal Tacuba\tMexicana Tradicional\t\t\t\t19.43615710\t-99.14003550\t$$$\nLas Catrinas Xochimilco\t\t\t\t\t0.00000000\t0.00000000\t$$\nSanborns Madero\tMexicana/Internacional\tCasa de los Azulejos. Edificio histórico del siglo XVI. Patio colonial con fuente. Comida mexicana e internacional. Museo y tienda.\t\t\t19.44067390\t-99.13910890\t$$\nAzul Histórico\tMexicana Contemporánea\tCocina mexicana gourmet en patio colonial hermoso. Creaciones del chef Ricardo Muñoz Zurita. Ambiente romántico con fuente. Carta de mezcales extensa. Reserva recomendada.\t\t\t19.43281940\t-99.13601660\t$$$\nComida rápida - KFC\t\t\t\t\t19.48388540\t-99.11359030\t$\nNo me Olvides\t\t\t\t\t0.00000000\t0.00000000\t$$\nEl Caracol\t\tAntojitos mexicanos y mariscos\t\tEmbarcadero Nativitas\t19.25800000\t-99.10160000\t$$\nComida rápida - Sam's Club\t\t\t\t\t19.48388540\t-99.11359030\t$\nComida mexicana\t\t\t\t\t19.42669450\t-99.16429710\t$$\nSalón Tenampa\tCantina/Mexicana\tCantina legendaria desde 1925. Cuna del mariachi en CDMX. Tequila, botanas mexicanas. Música en vivo toda la noche. Institución cultural de Garibaldi.\t\t\t19.44103610\t-99.13895000\t$$\nSanborns Café Avenida Juárez\t\t\t\t\t19.43415190\t-99.14169290\t$$\nGran Sur\t\t\t\t\t19.30472370\t-99.16554080\t$$\nMaría Isabel\t\t\t\t\t0.00000000\t0.00000000\t$$\nTaquería El Caifán\t\t\t\t\t19.43502290\t-99.14721390\t$\nAmor y Tacos desde 1958\t\t\t\t\t19.43138510\t-99.13074400\t$\nVips Calzada de Guadalupe\t\t\t\t\t19.48337110\t-99.11713430\t$$\nPatio Ciento20 Xochimilco\t\t\t\t\t0.00000000\t0.00000000\t$$\nEl Convento\t\t\t\t\t19.34585210\t-99.15878250\t$$\nLa Casa de las Tlacas Coyoacán\t\t\t\t\t19.34374440\t-99.15618830\t$$\nTaquería El Greco\tTacos\t\t\tHoracio 95\t19.41104170\t-99.17746650\tBajo\nSalón Corona Madero\t\t\t\t\t19.43394070\t-99.13969870\t$$\nHamburguesas Central Grill & Coffe\t\t\t\t\t19.31807780\t-99.13998070\t$$\nAquí es Oaxaca\tOaxaqueña\t\t\t\t19.43243010\t-99.12716670\t$$\nPulquería La Botijona\t\t\t\t\t0.00000000\t0.00000000\t$\nTacos La Chula\tmexicana\t\tTacos gourmet con sazón casero\tZona Rosa, Cuauhtémoc, 06600 Ciudad de México\t19.42528680\t-99.16163730\t$\nMadonna Pizza\titaliana\t\tPizzería artesanal al horno de leña\tZona Rosa, Cuauhtémoc, 06600 Ciudad de México\t19.42669450\t-99.16429710\t$$\nLos Panchos Villa\tMexicana\t\t\tCalzada de Guadalupe 45\t19.48388540\t-99.11359030\t$$\nRestaurante la Trajinera\t\t\t\t\t0.00000000\t0.00000000\t$$\nMiralto\tInternacional\t\t\t\t19.43388180\t-99.14060970\t$$$\nlo de Julio\targentina\t\tEmpanadas y parrilla argentina\tZona Rosa, Cuauhtémoc, 06600 Ciudad de México\t19.42669450\t-99.16429710\t$$\nCasino Español\tEspañola\tComida española tradicional desde 1863. Paella valenciana, cochinillo, pulpo gallego. Salón art nouveau impresionante. Bar con historia. Servicio formal.\t\t\t19.43295320\t-99.13655700\t$$$\nniddo\tinternacional\t\tCocina contemporánea con influencias globales\tZona Rosa, Cuauhtémoc, 06600 Ciudad de México\t19.42669450\t-99.16429710\t$$\nCafé Del Bosque\tCafetería\t\t\tPrimera Sección Bosque\t19.41107860\t-99.19980070\tBajo\nSUKIYA, Restaurante japonés\t\t\t\t\t19.44041300\t-99.13925640\t$$\nEl lijo de Cuervo\t\t\t\t\t19.34988950\t-99.16382140\t$$\nPastelería la Madrid\tPanadería/Pastelería\t\t\t\t19.43570680\t-99.13175700\t$\nLa Casa de las Sirenas\tMexicana/Internacional\tTerraza con vista privilegiada al Templo Mayor. Cocina mexicana e internacional. Ambiente romántico nocturno. Cócteles artesanales. Ideal para ocasiones especiales.\t\t\t19.43501260\t-99.13232490\t$$$\nHostería de Santo Domingo\tMexicana Tradicional\tRestaurante más antiguo de México (1860). Famoso por chiles en nogada. Sopa de tortilla, mole. Ambiente colonial histórico. Tradición culinaria centenaria.\t\t\t19.43800630\t-99.13495730\t$$\nCafé la Blanca\tCafetería/Mexicana\t\t\t\t19.43441110\t-99.13640570\t$\nMercado Coyoacán - Tostadas Coyoacán\tTostadas\t\t\tIgnacio Allende\t19.35277170\t-99.16151380\t$\nRestaurante Peruano\tperuana\t\tCeviche y platos típicos peruanos\tZona Rosa, Cuauhtémoc, 06600 Ciudad de México\t19.42669450\t-99.16429710\t$$\nPulquería Agave 69\t\t\t\t\t0.00000000\t0.00000000\t$\nLa Casa de Toño\tmexicana\t\tCadena de comida mexicana con pozole famoso\tZona Rosa, Cuauhtémoc, 06600 Ciudad de México\t19.42669450\t-99.16429710\t$\nORA Restaurante Coreano\tcoreana\t\tComida coreana contemporánea\tZona Rosa, Cuauhtémoc, 06600 Ciudad de México\t19.42779730\t-99.16334400\t$$\nTerraza Catedral\tInternacional\t\t\t\t19.43516800\t-99.13360900\t$$\nEl Huequito\tTacos/Mexicana\t\t\t\t19.43570680\t-99.13175700\t$\nFonda De La Virgen\tAntojitos Mexicanos\t\t\tMercado de La Villa\t19.48465000\t-99.11318000\t$\nPulquería La Hermosa Hortensia\tPulquería\tPulquería tradicional con curados de sabores. Ambiente bohemio y colorido. Botanas típicas. Experiencia auténtica de bebida prehispánica.\t\t\t19.44093750\t-99.13858420\t$\nLos Danzantes\tMexicana Contemporánea\t\t\tJardín Centenario 12\t19.34875500\t-99.16365600\t$$$\nSabor do Brasil\t\t\t\t\t19.47706960\t-99.12145020\t$$$\nLa Guadalupana\tMexicana Tradicional\t\t\tPlaza Mariana 2\t19.48212900\t-99.11625950\t$$\nRestaurante Lina Xochimilco\t\t\t\t\t0.00000000\t0.00000000\t$$\nTacos \"El paraíso\"\t\t\t\t\t19.45731570\t-99.12864690\t$\nCasa Merlos\tMexicana\t\t\tAv. Constituyentes 350\t19.40490840\t-99.19655970\tMedio\nLos Olivos\t\tBarbacoa y comida mexicana\t\tCentro de Xochimilco\t19.25730000\t-99.10290000\t$$\nRestaurante El Nuevo Mundo\t\t\t\t\t19.48388540\t-99.11359030\t$$\nMariscos La Villa\tMariscos\t\t\tAv. Insurgentes Norte 1425\t19.48388540\t-99.11359030\t$$\nLa isla del dragón\tChina\t\t\t\t19.43424820\t-99.13939330\t$$\nLiverpool\t\t\t\t\t19.48388540\t-99.11359030\t$$\nCafé Del Atrio\tCafetería\t\t\tPlaza Mariana\t19.48388540\t-99.11359030\t$\nRestaurante Catedral\tMexicana\t\t\t\t19.43582580\t-99.13310330\t$$\nLos Girasoles\tMexicana\tCocina mexicana en casona del siglo XVII. Especialidad en pre-colombina. Insectos comestibles (chapulines, escamoles). Patio central hermoso. Experiencia culinaria única.\t\t\t19.43601890\t-99.13888160\t$$\nTicuchi\tOaxaqueña\t\t\t\t19.43357850\t-99.18546770\t$$\nCafé Michelangelo\t\tCafé y repostería\t\tCentro Histórico\t19.25750000\t-99.10310000\t$$\nJekemir Café\tCafetería\t\t\t\t19.42805490\t-99.13835510\t$\nSonora Majosos\t\t\t\t\t19.36004740\t-99.17122380\t$$\nDiego Ramen Zona Rosa\tjaponesa\t\tRamen artesanal japonés\tZona Rosa, Cuauhtémoc, 06600 Ciudad de México\t19.42726840\t-99.16237000\t$$\nCafé El Popular\tCafetería Tradicional\t\t\t\t19.43433000\t-99.13551650\t$\nEl Bajío Polanco\tMexicana Tradicional\t\t\tAlejandro Dumas 7\t19.42748500\t-99.19624690\tMedio\nTerah\t\t\t\t\t19.34869260\t-99.16291310\t$$\nToks la Villa\t\t\t\t\t19.46488400\t-99.12520730\t$$\nMiralto\t\t\t\t\t19.43388180\t-99.14060970\t$$$\nRestaurante Danubio\tMariscos/Internacional\t\t\t\t19.43102500\t-99.14101030\t$$$\nBirriería Zaragoza\tBirria\t\t\tZaragoza 20\t19.48388540\t-99.11359030\t$\nPastelería Ideal\tPanadería/Cafetería\t\t\t\t19.43047580\t-99.13552080\t$\nEl Artista\t\t\t\t\t0.00000000\t0.00000000\t$$$\nRincón mi Barrio\t\t\t\t\t0.00000000\t0.00000000\t$$\nCorazón De Maguey\tMexicana Tradicional\t\t\tJardín Centenario 14\t19.34968970\t-99.16355720\t$$\nWingstop\tamericana\t\tAlitas y boneless al estilo americano\tZona Rosa, Cuauhtémoc, 06600 Ciudad de México\t19.42419590\t-99.16478630\t$\nRestaurante La Villa\tMexicana\t\t\tCalzada de los Misterios\t19.48388540\t-99.11359030\t$$\n\n- Estadios: Azteca (CDMX), BBVA (Monterrey), Akron (Guadalajara)\n- Zonas: Centro Histórico, Polanco, Garibalid, Coyoacán, Zona Rosa, Basilica, Chapultepec, Xochimilco\n\n",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        160,
        128
      ],
      "id": "09fd12c0-340d-4880-97fe-d3ea3affb5ab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"response\": $json.output, \"timestamp\": new Date().toISOString() } }}",
        "options": {}
      },
      "id": "f68b664e-beae-407e-a1e0-bd0e19ca2e64",
      "name": "Respuesta Exitosa",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        688,
        144
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "82797927-bbe6-4000-ab4b-7a681cb9dceb",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7bf5e2c3-a25a-4b3b-bd0f-37f78631dd88",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -256,
        144
      ],
      "webhookId": "82797927-bbe6-4000-ab4b-7a681cb9dceb"
    }
  ],
  "pinData": {},
  "connections": {
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "consultar_supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "ce6a25ea-e1fd-4310-a8b3-fd04a03f3a9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9714dfd894d28194ffdfebb9c4edfbda3faa0aff85fdaebffd82b57e273caa03"
  },
  "id": "gRuvxbdyKAvakaRY",
  "tags": [
    {
      "createdAt": "2025-10-13T15:43:44.343Z",
      "updatedAt": "2025-10-13T15:43:44.343Z",
      "id": "9C1HLxJMI8M6uAAY",
      "name": "Testing"
    }
  ]
}